//Primary coloring
@brand-primary: #60340d;
@brand-secondary: #1b191a;
@brand-tertiary: #29b248;

//Brand messages
@brand-success: @brand-tertiary;
@brand-info: #FCF2D7;
@brand-warning: #FDC536;
@brand-danger: #E65848;

//Link colors
@link-color: @brand-tertiary;

//Navbar
@navbar-inverse-bg: @brand-secondary;
@navbar-inverse-brand-color: @brand-tertiary;
@navbar-inverse-brand-hover-color: darken(@brand-tertiary, 10%);
