@bower-path: "../../bower_components";

//Bootstrap
@import "bootstrap.less";
@import "colors.less";
@import "settings.less";

//Mixins

//Extends
@import (less) "@{bower-path}/bootstrap-daterangepicker/daterangepicker.css";
.daterangepicker .calendar th, .daterangepicker .calendar td {
    min-width: 25px;
    font-size: 90%;
}

//Components
@import "components/typography.less";

//Utilities

//Base overwrites
body {
    padding-bottom: 70px;
    padding-top: 70px;
}
